.sign-in{
  width: 380px;
  display: flex;
  flex-direction: column;

  .title{
    margin: 10px 
  }

  .buttons{
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 450px){
  .sign-in{
    width: 18rem;
  }

  .buttons{
    width: auto;
    flex-direction: column;
    margin: 7px;
  }

  .button{
    margin-bottom: 1rem;
    width: 100%;
  }
}