.order-completed{
  flex-direction: column;
  font-size: 2rem;
  margin: 6rem 0;
  height: auto;
  width: 100%;
  
  div{
    display: flex;
    justify-content: center;
    width: 50rem;
    
  }

  img{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}