.order-completed{
  flex-direction: column;

  margin: 6rem 0;
  height: auto;
  width: 100%;
  
  div{
    display: flex;
    justify-content: center;
    width: auto;
    
  }

  p{
    font-size: 2rem;
    text-align: center;
  }

  img{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}