.collectionPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;

    & :hover{
      opacity: 0.80;
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .see-more{
      display: flex;
      justify-content: flex-end;
      font-weight: bold;
    }
  }
}
