.category {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 450px){
  .items, .category{
    display: flex !important;
    flex-wrap: wrap;
  }

}